* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-inline: 2em;
  max-width: 1200px;
  margin-inline: auto;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
